datajoint>=0.13.0
element-lab @ git+https://github.com/ttngu207/element-lab.git
element-animal @ git+https://github.com/ttngu207/element-animal.git
element-session @ git+https://github.com/ttngu207/element-session.git@datetime
element-array-ephys @ git+https://github.com/ttngu207/element-array-ephys.git@no-curation
ipykernel